@media (max-width: 600px) {
  body {
    background-color: #ffb5b5 !important;
  }

  .temperature-converter {
    width: 25rem !important;
  }
  .mobile-phone-icons {
    position: relative;
    left: 280px !important;
  }
  .temp-field {
    position: relative;
    left: 250px !important;
  }
}

body {
  background-color: #ffb5b5 !important;
  width: 0;
  height: 0;
}
.card {
  border-radius: 5px;
  margin: 0 auto;

  position: relative;
  top: 150px;
}
.celsius-value {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  transition: all 0.45s ease;
}

.temp-field {
  position: relative;
  left: 280px;
  bottom: 28px;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn-primary {
  background-color: #ffb5b5 !important;
  color: #fff !important;
  border-radius: 5px;
  border-color: #ffb5b5 !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

input,
select {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
}
.card-title {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.mobile-phone-icons {
  position: relative;
  bottom: 40px;
  left: 350px;
}
